<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>

    <h1>GROCERY LIST</h1>
    <button>MEAL PLAN</button>

    <h3>FRUIT/VEGETABLE</h3>
    <button id="add-item-button">+</button>
   

    <h3>PROTEIN</h3>
    <button id="add-item-button">+</button>
   

    <h3>GRAINS/LEGUMES/NUTS/SEEDS</h3>
    <button id="add-item-button">+</button>
   

    <h3>FATS/SPICES/COND</h3>
    <button id="add-item-button">+</button>
 

    <h3>OTHER</h3>
    <button id="add-item-button">+</button>
    
    <script src="/main.js"></script>
</body>
</html>