<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>

    <h1>GROCERY LIST</h1>
    <h2><a href="meal-plan">Meal Plan</a></h2>

    <h3>FRUIT/VEGETABLE</h3>
    <form action="/grocery-list" method="POST">
        <input type="text" placeholder="Add Item" name="produce">
    </form>
    <button id="number-item-button">+</button>
   

    <h3>PROTEIN</h3>
    <form action="/grocery-list" method="POST">
        <input type="text" placeholder="Add Item" name="protein">
    </form>
    <button id="number-item-button">+</button>
   

    <h3>GRAINS/LEGUMES/NUTS/SEEDS</h3>
    <form action="/grocery-list" method="POST">
        <input type="text" placeholder="Add Item" name="pantry">
    </form>
    <button id="number-item-button">+</button>
   

    <h3>FATS/SPICES/COND</h3>
    <form action="/grocery-list" method="POST">
        <input type="text" placeholder="Add Item" name="condiments">
    </form>
    <button id="number-item-button">+</button>
 

    <h3>OTHER</h3>
    <form action="/grocery-list" method="POST">
        <input type="text" placeholder="Add Item" name="other">
    </form>
    <button id="-item-button">+</button>
    
    <script src="/main.js"></script>
</body>
</html>