<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan, Grocery List</title>
</head>
<body>
    <h1>Meal Plan</h1>
    <h2><a href="meal-plan">Meal Plan</a></h2>
    <h2><a href="grocery-list">Grocery List</a></h2>
    <h2><a href="index.html">Home</a></h2>

    <h3></h3>
    <!-- <form action="">
      <input type="week" name="week" />
      <button type="submit">Submit</button>
    </form> -->
    <br>
    <h3>Monday</h3>
    <form action="/monday-form" method="POST">
      <input type="text" placeholder="monday-meal" name="monday-meal" />
      <button type="submit">Add</button>
    </form>



    <h3>Thursday</h3>
    <h3>Friday</h3>
    <h3>Saturday</h3>
    <h3>Sunday</h3>
</body>
</html>